<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bas.com.yamob">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.ArtistsListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.InfoAboutArtistActivity" android:parentActivityName=".ui.ArtistsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ArtistsListActivity" />
        </activity>

        <activity android:name=".ui.ArtistBigCoverActivity" android:parentActivityName=".ui.InfoAboutArtistActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.InfoAboutArtistActivity" />
        </activity>

    </application>

</manifest>
